#inspired{
  font-family: 'Dancing Script', cursive;
  width:50%;
  text-align:center;
  margin:auto;
}
table{
  margin-top: 30px;
  margin:auto;
}
td{
  background-color: black;
  height: 300px;
  width: 200px;
}
#a{
background-color:  #00171F;
}
#b{
  background-color: #003459;
}
#c{
  background-color: #007EA7;
}
#d{
  background-color: #00A8E8;
}
#e{
  background-color: #FFFFFF;
}
