#inspired{
  font-family: 'Dancing Script', cursive;
  width:50%;
  text-align:center;
  margin:auto;
}
table{
  margin-top: 30px;
  margin:auto;
}
td{
  background-color: black;
  height: 300px;
  width: 200px;
}
#a{
background-color:  #FE938C;
}
#b{
  background-color: #E6B89C;
}
#c{
  background-color: #EAD2AC;
}
#d{
  background-color: #9CAFB7;
}
#e{
  background-color: #4281A4;
}
